<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <a href="https://www.instagram.com/stayreal_sunny/" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/sunny0023/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            

        </div>
    <div class="f-info-brand"> &copy; WanderLust Private Limited </div>
        <div class="f-info-links">
            <a href="privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>