.filters-container{
            display:flex;
            align-items:center;
            justify-content:space-between;
            gap:1rem;
        }
        #filters {
            display: flex;
            align-items: center;
            overflow-x: auto;
            scrollbar-width: none;
            white-space: nowrap;
            flex: 1;
        }
        #filters::-webkit-scrollbar {
             display: none;
        }
        .filter {
            flex-shrink: 0;
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;

             text-decoration: none;
             color: inherit;
             color: inherit;
        }
        
        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }
        .filter p {
            font-size: 0.8rem;
        }

        .tax-info{
            display: none;
        }

        .tax-toggle {
             flex-shrink: 0;
            border: 1px solid black;
            border-radius: 1rem;
            height: 3rem;
            padding: 1rem;
            margin-left: auto;
            display: flex;
            align-items: center;

        }
        .scroll-btn{
            width:40px;
            height:40px;
            border-radius:50%;
            border:1px solid #ddd;
            background:#fff;
            cursor:pointer;
            display:flex;
            justify-content:center;
            align-items:center;
            margin:0 1rem;
        }

        .scroll-btn:hover{
             box-shadow:0 2px 8px rgba(0,0,0,.2);
        }