/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  /* Mobile */
@media (max-width: 576px) {

    .navbar {
        height: auto;
    }

    .navbar-nav {
        margin-top: 0.8rem;
        text-align: center;
    }

    .navbar-nav form {
        flex-direction: column;
        width: 100%;
    }

    .search-inp {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .search-btn {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 991px) {

    .navbar {
        height: auto;
    }

    .navbar-nav {
        margin-top: 0.5rem;
    }

    .navbar-nav form {
        width: 100%;
    }

    .search-inp {
        width: 100%;
    }
}

/* Laptop & Desktop */
@media (min-width: 992px) {

    .search-inp {
        width: 250px;
    }

    .navbar {
        height: 5rem;
    }
}